{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>
<body class="base">
    <header>
        <div class="img">
            <img src="{% static 'images/logo.jpeg' %}" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'add-student' %}">Add student</a></li>
                <li><a href="{% url 'list-students' %}">StudentLists</a></li>
                <li><a href="{% url 'ContactUs' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}
            
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>
           All rights reserved copyrights &copy; <span id="year"></span> <a href="mailto:gabobe33@gmail.com">samahatechs.com</a> 
        </p>
    </footer>
</body>
</html> 
<script src="{% static 'js/main.js' %}"></script>