{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <body id="bg" style="background-image: url({% static 'images/school.jpeg'%}) "> -->
  <section>
  <div class="home">
    <!-- <img src="{% static 'images/school.jpeg' %}" class="logo"> -->
      <h1>Samaha school of technology</h1>
      <h3 class="course-container">Courses we offer</h3>
      <ul>
        <li>Computer Basics</li>
        <li>Compatia A+ & N+</li>
        <li>Multimedia</li>
        <li>Graphic Design</li>
        <li>Programming language</li>
      </ul>
  </div>
</section>
{% endblock %}